*{
    background-color: #FBFFF4;
    
}

#myCanvas{
    border: 1px solid lightgray;
    border-radius: 5px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    color: darkslategray;
}

.top{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
.top>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    border: 1px solid lightgray;
}

#canvasColor,#penColor{
    /* border: none; */
    width: 150px;
    height: 18px;
    border-radius: 10px;
    /* background-color: none; */
    /* padding: 5px; */
}

#width{
    height: 4px;
    width: 150px;
}

.bottom{
    
    margin-top: 35px;
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-between;
}

.btn{
    font-size: 1rem;
    border: 1px solid lightgray;
    padding: 8px 10px;
    cursor: pointer;

    border-radius: 10px;
    margin-left: 15px;
}

.btn:nth-child(1){
    background-color: rgb(228, 92, 92);
    color: white;
    flex: 1;
}
.btn:nth-child(2){
    background-color: rgb(42, 194, 42);
    color: white;
    flex: 1;
}

.btn:last-child{
    background-color: rgb(240, 240, 56);
    color: darkslategray;
    flex: 1;
}